#
# /etc/systemd/system/webtoll.service
#

[Unit]
Description=Web Service to return 495/95 express lanes toll data

After=mariadb.service

StartLimitBurst=60
StartLimitIntervalSec=600

[Install]
WantedBy=multi-user.target

[Service]

Type=simple

User=tollreader

# Prevent writes to /usr, /boot, and /etc
ProtectSystem=full
# Prevent accessing /home, /root and /run/user
ProtectHome=true
# Execute pre and post scripts as root, otherwise it does it as User=
PermissionsStartOnly=true

ExecStart=/usr/local/bin/waitress-serve --call 'webtoll:create_app'

KillSignal=SIGTERM

# Don't want to see an automated SIGKILL ever
SendSIGKILL=no

# Restart crashed server only, on-failure would also restart, for example, when
# my.cnf contains unknown option
Restart=always
RestartSec=5s

UMask=002

PrivateTmp=false
